:root {
    --bs-primary: #3ec1d5 ;
    --bs-btn-bg: #3ec1d5;
}

.top-spacer {
    height: 80px;
    background: rgba(0,0,0, 0.8);
}

.text-none {
    text-transform: none;
}


.btn-primary,
.btn-primary:hover  {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.bullet-list {
    list-style: disc;
}